body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin: 0px;
}
#hero {
    width: 592px;
    margin: 0px auto 72px;
}
#hero img {
    margin-bottom: 72px;
    width: 568px;
    height: 400px;
}
h1 {
  font-family: "Inter", sans-serif;
  font-size: 49px;
  line-height: 56px;
  font-weight: normal;
  margin: 0px auto 32px;
}

span, a {
  color: orange;
 
}
h1 span{
    font-weight: bold;
}
p, #footer {
    color: hsl(217, 9%, 48%);
    font-size: 14px;
    line-height: 28px;
}
#line{
    width: 568px;
    height: 0;
    margin: auto;
    border: 1px solid hsla(213, 9%, 48%, 0.416);
}

#footer a + a{
    margin-left: 28px;

}
#balls{
    width: 200px;
    height: 150px;
    position: fixed;
    bottom: 0px;
    right: 0px;
}
